*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: gainsboro;
}

main {
    text-align: center;
    margin: 15px auto;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
    width: 60%;
    height: 50%;
    background: whitesmoke;
}

form {
    margin: 15px;
}

ul {
    margin: 15px;
    list-style-type: none;
}
